<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>About US</title>
   <style>
            a{
         text-decoration: none;
         color: white;
         background-color: green;
         padding: 10px;
         border-radius: 10px;
      }
      a:hover{
         background-color: rgb(101, 155, 101);
      }
   </style>
</head>
<body>
   <h2 class="test">I'm Aakash</h2>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias vero ipsum itaque explicabo suscipit id error soluta et temporibus recusandae, reiciendis odit accusantium accusamus tempora totam sint eligendi deserunt laboriosam magnam inventore officiis necessitatibus! Unde odio facilis officia, sequi ipsam ducimus, eaque nesciunt doloribus laudantium, quaerat possimus architecto qui laborum aspernatur explicabo nemo laboriosam debitis excepturi dolor eveniet! Voluptate facere quis optio aliquid quod, dolorum et vitae dignissimos rerum neque harum beatae. Natus expedita voluptatem dolorem cum esse doloremque illum neque explicabo sit veniam, consequatur alias voluptas enim mollitia laudantium voluptate nesciunt porro quia rerum exercitationem. Magni, praesentium molestias. Rerum!</p>
   <a href="./16_home.html">Home</a>
</body>
</html>